@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Treat App: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet"/>
    
</head>
<body>
<h1>@ViewBag.Title</h1>

<p>Website where you can buy candy from around the world!</p>

<div id="itemForm">
    <form>
        <label>Username: </label>
        <br />
        <input />
        <br />
        <label>Email: </label>
        <br />
        <input type="email" />
        <br />
        <label>Subject: </label>
        <br />
        <input type="text" />
        <br />
        <label>Message: </label>
        <br />
        <textarea rows="4"></textarea>
        <br />
        <input type="submit" id="itemFormButton" value="Send Email" />
    </form>
</div>

<div>
    <div id="loginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>Username</label>
            <input />
        </div>
        <div>
            <label>Password</label>
            <input type="password"/>
        </div>
        <div>
            <input type="checkbox"/>
            <label>Remember Me?</label>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
</div>


<script src="~/lib/jQuery/dist/jquery.min.js"></script>
<script src="~/js/index.js"></script>
</body>
</html>